.App{
  max-width: 100%;
}
.Navbar{
  display: flex;
  align-items: center;
          justify-content: center;
 
}
.IP{
  text-decoration: solid;
}

.pera,.info{
  color: gray;
}

.share{
  display: flex;
  
  justify-content: end;
}

.back{
  margin-top: 20px;
}
.searchbar{
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 20px;
}

.item{
  display: flex;        
  align-items: center;
          justify-content: center;
          
}
.Carousel{
  display: flex;
  align-items: center;
  justify-content: center;

}
.prise{
  margin-left: 50px;
  margin-right: 50px;
}
.review{
  color: blue;
}